<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Counter</title>
</head>
<body>
    <div class="wrapper">
        <div class="row" style="height: 200px;"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-4" style="text-align: center;">
                <div class="counter_box">
                    <h1 style="font-size: 50px;">Counter</h1>
                    <p style="font-size: 24px;">Page viewed <span style="font-weight: bold; color: orange; text-decoration: underline;"><%= counter %></span> times.</p>
                    <a href="/plus_two">
                        <button class="btn btn-success py-2 mx-2" style="font-size: 24px; width: 85px;">+2</button>
                    </a>
                    <a href="/reset">
                        <button class="btn btn-danger py-2 mx-2" style="font-size: 24px; width: 85px;">Reset</button>
                    </a>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
